/**
 *
 * Apply your custom CSS here
 *
*/
html {
}
body {
    font-size: 14px;
}

a {
}

.yese-radius{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
/*
 * Banner
 *
*/
.banner{
    margin: -30px;
}
.banner .carousel-inner{
    max-height: 320px;
}
.mt-40{
    margin-top: 40px;
}
.panel{
    margin-bottom: 18px;
}
.yese-panel{
    padding: 20px 0 0 0;
}
.panel.yese-panel .panel-heading{
    margin-left: 0;
    margin-right: 0;
}
.yese-group .list-group-item{
    margin-top: 1px;
    border-left: none;
    border-right: none;
    border-top:none;
    border-bottom: 1px solid #7c38bc;
}
.yese-group .list-group-item:hover{
    background-color: #f5f5f5;
}
.yese-group .list-group-item .options-links{
    margin-top: 2px;
}
.yese-group .thumbnail{
    padding:0;
    margin-bottom: 0;
    border: none;
}

.yese-author{
    margin-top: 10px;
}
.yese-author .author-img{
    display: block;
    float: left;
}
.yese-author .author-img img{
    width: 32px;
}
.yese-author .author-content{
    margin-left: 50px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid #eeeeee;
}
.yese-author .author-content .user-name{
    display: block;
    font-size: 14px;
    color: #575858;
    margin-bottom: 5px;
}
.yese-author .author-content .user-name time{
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    color: #ddd;
}
/*
* 文章页
*/
.yese-options{
    width: 100%;
    margin-top: 10px;
}
.article-panel .panel-body{
    padding-top: 0;
}
.article-panel .list-group-item{
    padding: 10px 10px;
    /*border-top: none;*/
    /*border-left: none;*/
    /*border-right: none;*/
    /*border-bottom: 1px solid #dddddd;*/
    border:none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.yese-ads{
    padding: 0;
}
.blockquote.no-border{
    border:none;
    padding: 0px 10px;
}

.text-center{
    text-align: center;
}
.user-list img,.yese-comment header .user-img img{
    margin:4px;
    width: 60px;
    padding: 3px;
}
.profile-env .user-timeline-stories .timeline-story.yese-comment{
    margin-bottom: 0;
    border-bottom: 1px solid #eeeeee;
}
.yese-comment-form{
    border: none!important;
}
.yese-comment-form:after{
    display: none!important;
}
.yese-no-login{
    border: 1px solid #e4e4e4;
    padding: 15px 20px;
    min-height: 70px;
    color: #979898;
    background: #fff;
}
.btn-fillet-purple{
    border:1px solid #6f32a8;
    background: #ffffff;
}
.btn-fillet-green{
    border:1px solid #5ca323;
    background: #ffffff;
}

/*
* 帖子相关
*/
.community-time{
    font-size: 12px;
    color: #979898;
}
.community-options{
    font-size: 12px;
    color: #979898;
}
.community-options a{
    color: #979898;
}

/*
   按钮
*/

.btn.btn-no-bottom{
    margin-bottom: 0;
}

.yese-avatar .thumb {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.yese-avatar .thumb:before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, #ffffff 0%, #7c38bc 100%);
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    z-index: 1;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.yese-avatar .thumb:after {
    display: block;
    position: absolute;
    color: #fff;
    content: '\f06e';
    font-family: 'fontawesome';
    left: 50%;
    top: 50%;
    font-size: 22px;
    z-index: 2;
    margin-left: -12px;
    margin-top: -13px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.yese-avatar .thumb:hover:before {
    zoom: 1;
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}
.yese-avatar .thumb:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.yese-avatar .img-thumbnail {
    border-width: 0px;
    max-width: 120px;
    max-height: 120px;
}

