
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #e8643e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.orange { color: #e8643e; }

::-moz-selection { background: #e8643e; color: #fff; text-shadow: none; }
::selection { background: #e8643e; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../images/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	background: #fff;
	opacity: 0.8;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	position: relative;
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #e8643e;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.1);
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #ddd;
}


/***** Modal *****/

.modal-backdrop.in { filter: alpha(opacity=7); opacity: 0.7; }

.modal-content {
	background: none; border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body { padding: 0 25px 25px 25px; }

.modal-header { padding: 25px 25px 15px 25px; text-align: right; }

.modal-header, .modal-footer { border: 0; }

.modal-header .close { float: none; margin: 0; font-size: 36px; color: #fff; font-weight: 300; text-shadow: none; opacity: 1; }


/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; opacity: 0.8; border-bottom: 1px solid transparent; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-2 {
	height: auto;
	margin: 4px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}
.navbar-inverse ul.navbar-nav li a.btn-link-2:hover, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:focus, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.navbar-brand {
	width: 97px;
	background: url(../images/logo.png) left center no-repeat;
	text-indent: -99999px;
}


/***** Top content *****/

.inner-bg { padding: 120px 0 20px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }

.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }

.subscribe { margin-top: 35px; }
.subscribe .success-message { display: none; opacity: 0.8; }

.subscribe input[type="text"] {
	width: 380px;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.subscribe input[type="text"].subscribe-error { color: #e8643e; }

.subscribe input[type="text"]:focus {
	outline: 0; background: #fff; border: 3px solid #e8643e;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.subscribe input[type="text"]::-moz-placeholder { color: #888; }
.subscribe input[type="text"]:-ms-input-placeholder { color: #888; }
.subscribe input[type="text"]::-webkit-input-placeholder { color: #888; }

.subscribe button.btn {
	position: relative;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #e8643e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.subscribe button.btn:hover { opacity: 0.6; color: #fff; }
.subscribe button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.subscribe button.btn:focus { outline: 0; opacity: 0.6; background: #e8643e; color: #fff; }
.subscribe button.btn:active:focus, .subscribe button.btn.active:focus { outline: 0; opacity: 0.6; background: #e8643e; color: #fff; }

.subscribe button.btn:before { content: ""; position: absolute; top: 50%; left: 0; width: 100%; height: 50%; background: rgba(0, 0, 0, 0.1); }

.top-content .top-video-link { padding-top: 70px; }
.top-content .top-video-link a:hover,
.top-content .top-video-link a:focus { outline: 0; }

.top-content a .top-video-link-text {
	color: #fff; opacity: 0.8;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.top-content a:hover .top-video-link-text, 
.top-content a:focus .top-video-link-text { outline: 0; color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }

.top-content a .top-video-link-icon {
	position: relative;
	display: inline-block; width: 50px; height: 50px; margin-right: 10px; background: #42bfc2; color: #fff; line-height: 50px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.top-content a .top-video-link-icon:after {
	position: absolute; content: ""; top: -6px; left: -6px; width: 66px; height: 66px;
	background: #444; background: rgba(0, 0, 0, 0.1); z-index: -99;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.top-content a:hover .top-video-link-icon,
.top-content a:focus .top-video-link-icon { outline: 0; background: #fff; color: #42bfc2; }

.top-social { padding-top: 200px; font-size: 28px; line-height: 38px; text-align: right; }
.top-social a { margin: 5px 15px; color: #fff; color: rgba(255, 255, 255, 0.8); vertical-align: middle; }
.top-social a:hover, .top-social a:focus { outline: 0; color: #fff; }
.top-social .divider-2 { display: inline-block; width: 1px; height: 14px; background: #fff; background: rgba(255, 255, 255, 0.4); vertical-align: middle; }

/***** How it works *****/

.how-it-works { padding-bottom: 30px; }

.how-it-works-box { padding-top: 15px; padding-bottom: 15px; }
.how-it-works-box h3 { margin-top: 25px; }
.how-it-works-box p { opacity: 0.8; }

.how-it-works-step {
	position: relative;
	display: inline-block; width: 64px; height: 64px; margin: 0 auto; background: #42bfc2;
	font-size: 32px; color: #fff; line-height: 64px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.how-it-works-step:after {
	position: absolute; content: ""; top: -7px; left: -7px; width: 82px; height: 82px;
	background: #444; background: rgba(0, 0, 0, 0.1); z-index: -99;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

/***** Footer *****/

footer {
	padding: 40px 0 35px 0;
}

.footer-social {
	font-size: 42px;
	line-height: 42px;
}

.footer-social a { margin: 0 5px; color: #ddd; }
.footer-social a:hover, .footer-social a:focus { color: #19b9e7; }

.footer-copyright {
	margin-top: 25px;
}
